body {
  margin: 0;
  text-align: center;
  }

  #canvas {
  border: 5px solid red;
  margin: 20px auto;
  }

  #rules {
  padding: 0 10rem;
  margin: 20px auto;
  }

  h1 {
  font-weight: 600;
  margin: 20px auto;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  .wantedbox {
  width: 260px;
  border: 5px solid black;
  margin: 20px auto;
  }
  
  #wanted {
    font-size: 1.5rem;
  font-weight: bolder;
  }